In [2]:
1 + 1

2

In [3]:
import json

In [4]:
def get_column(schemas, ds_name, sorting_key = 'column_position'):
    column_list = schemas[ds_name] 
    columns = sorted(column_list , key = lambda col : col[sorting_key]) 
    json_print(columns)
    return [ col['column_name'] for col in columns ]

In [5]:
def json_print(obj):
    json_data = json.dumps(obj, indent=4)
    print(json_data)

In [6]:
schemas = json.load(open('data\\retail_db\\schemas.json'))
json_data = json.dumps(schemas, indent=4)
#print(json_data)

x = schemas['orders']
# json_print(x)
# json_print(x[1])
# for x1 in x : 
#     json_print(x1)

In [7]:
orders_columns = get_column(schemas, 'orders')
print( orders_columns)

[
    {
        "column_name": "order_id",
        "data_type": "integer",
        "column_position": 1
    },
    {
        "column_name": "order_date",
        "data_type": "string",
        "column_position": 2
    },
    {
        "column_name": "order_customer_id",
        "data_type": "timestamp",
        "column_position": 3
    },
    {
        "column_name": "order_status",
        "data_type": "string",
        "column_position": 4
    }
]
['order_id', 'order_date', 'order_customer_id', 'order_status']

In [8]:
import pandas as pd

In [9]:
orders = pd.read_csv('data\\retail_db\\orders\\part-00000' , names = orders_columns )
print(orders)
orders = pd.read_csv('data\\retail_db\\orders\\part-00000')
print(orders)

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]
           1  2013-07-25 00:00:00.0  11599           CLOSED
0          2  2013-07-25 00:00:00.0    256  PENDING_PAYMENT
1          3  2013-07-25 00:00:00.0  12111         COMPLETE
2          4  2013-07-25 00:00:00.0   8827           CLOSED
3          5  2013-07-25 00:00:00.0  11318         COMPLETE
4          6  2013-07-25 00:00:00.0   7130         COMPLETE
...      ...                    ...    ...              ...
68877  68879  2014-07-09 00:00:00.0    778         COMPLETE
68878  68880  2014-07-13 00:00:00.0   1117         COMPLETE
68879  68881  2014-07-19 00:00:00.0   2518  PENDING_PAYMENT
68880  68882  2014-07-22 00:00:00.0  10000          ON_HOLD
68881  68883  2014-07-23 00:00:00.0   5533         COMPLETE

[68882 rows x 4 columns]

In [10]:
x = r'D:\codes_python_in_visual_studio_code\data\retail_db\order_items\part-00000'
x = pd.read_csv(x) 
print(x)

             1    1.1   957  1.2   299.98  299.98.1
0            2      2  1073    1   199.99    199.99
1            3      2   502    5   250.00     50.00
2            4      2   403    1   129.99    129.99
3            5      4   897    2    49.98     24.99
4            6      4   365    5   299.95     59.99
...        ...    ...   ...  ...      ...       ...
164460  172194  68881   403    1   129.99    129.99
164461  172195  68882   365    1    59.99     59.99
164462  172196  68882   502    1    50.00     50.00
164463  172197  68883   208    1  1999.99   1999.99
164464  172198  68883   502    3   150.00     50.00

[164465 rows x 6 columns]

In [11]:
x = json.load(open('data\\retail_db\\schemas.json'))
print(x.keys())

dict_keys(['departments', 'categories', 'orders', 'products', 'customers', 'order_items'])